# Assignment 1

## Test your knowledge.

** Answer the following questions **

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [ ]:
s = 'hello'
# Print out 'e' using indexing

In [45]:
h=s[1]
print(h)

e

Reverse the string 'hello' using slicing:

In [ ]:
s ='hello'
# Reverse the string using slicing

In [44]:
s="hello"
print(s[-1:-6:-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [41]:
s ='hello'
# Print out the 'o'

# Method 1:

In [42]:
h=s[4]
print(h)

o

In [ ]:
# Method 2:

In [43]:
h=s[-1]
print(h)

o

## Lists

Build this list [0,0,0] two separate ways.

In [ ]:
# Method 1:

In [35]:
lst1=[0]+[0]+[0]
print(lst1)

[0, 0, 0]

In [ ]:
# Method 2:

In [40]:
lst2=[0,0]
lst2.append(0)
print(lst2)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [32]:
list3 = [1,2,[3,4,'hello']]

In [33]:
list3[2][2]="goodbye"
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [30]:
list4 = [5,3,4,6,1]

In [31]:
list4_set=set(list4)
list4_sorted=list(list4_set)
print(list4_sorted)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [63]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [64]:
h=d.get('simple_key')
print(h)

hello

In [65]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [66]:
f=d.get('k1')
y=f.get('k2')
print(y)

hello

In [67]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [68]:
f=d.get('k1')
y=f[0]
h=y.get('nest_key')
k=h[1]
m=k[0]
print(m)

hello

In [69]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
#Grab hello

In [70]:
f=d.get('k1')
y=f[2]
h=y.get('k2')
k=h[1]
m=k.get('tough')
i=m[2][0]
print(i)

hello

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [71]:
planet="Earth"
diameter="12742"
print(f"Th diameter of {planet} is {diameter} kilometers.")

Th diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [72]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [73]:
lst2=lst[3][1][2][0]
print(lst2)

hello

** Given this nested dictionary grab the word "hello". **

In [74]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [96]:
f=d.get('k1')
s1=f[3]
s2=s1.get('tricky')
s3=s2[3]
s4=s3.get('target')
s5=s4[3]
print(s5)

hello

### Write a Python program to swap two variables.

In [76]:
s1=1
s2=5
print("s1:",s1," ""s2:",s2,"\n")
s3=s1
s1=s2
s2=s3
print("s1:",s1," ""s2:",s2)

s1: 1  s2: 5

s1: 5  s2: 1

## Thanks